.share-network-whatsapp i {
  color: #738ebe;
}

.rate-form {
  overflow: hidden !important;
}

#product-car li {
  width: unset;
  height: unset;
  border: none;
  border-radius: unset;
}

.share-pro img,
.share-pro i {
  margin-right: 10px !important;
}

.pdf-icon i,
.pdf-icon i:hover {
  color: #D95B5B;
  font-size: x-large !important;

}

.share-network-facebook,
.share-network-twitter,
.share-network-whatsapp {
  width: 44px;
  height: 44px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline: 10px;
}

.share_buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-f h4 {
  font-weight: 700;
  margin-bottom: 7px;
}

.modal-f h6 {
  font-weight: 500;
  margin-bottom: 20px;
  font-size: 18px;
}

#share_modal .modal-content {
  padding: 10px 15px;
}